@gridColumnWidth : 60px;

.visual-explain {
  min-height: @gridColumnWidth/2 * 50;
  min-width: @gridColumnWidth * 30;
  height: 100%;
  width: 100%;
  border:1px solid #ccc;
  background:#fff;
}

.bold {
	font-weight: bold;
}