<div>
	<div>
		<form name='queryDialog' novalidate>
			<div class='form-group form-group-sm'>
				<label class='input-sm'>Enter the query to be viewed Graphically</label>
				<textarea class='form-control input-sm' rows='4' ng-model='query'>
				</textarea>
			</div>
			<div>
				<input type='submit' class='btn btn-success' ng-click='execute()' 
					value='Execute'/>
				<div class='btn btn-default' ng-click='clear()'> Clear </div>
				<span loading-animation></span>
			</div>
		</form>
	</div>
</div>